.Card
{
    overflow: hidden;
}

.carousel-item
{
    overflow: hidden;
}

.photo-column
{
    background-color: sienna;
    height: 900px;
}

#p
{
    background-color: bisque;
    height: 900px;
}

.ps
{
    width: 100%;
    height: 380px;
    background-color: yellow;
    margin-top: 20px;
    overflow: hidden;
}

.pb
{
    width: 100%;
    height: 480px;
    background-color: black;
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 575px)
{
    .video
    {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767px)
{
    .video
    {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991px)
{
    .video
    {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}